<h1>
  Welcome to the game of Rock, Paper, and Scissors.
</h1>

<h2>Pick your hand:</h2>

<p class="choice"><a href="/rock">ROCK</a></p>
<p class="choice"><a href="/paper">PAPER</a></p>
<p class="choice"><a href="/scissors">SCISSORS</a></p>
