 <h1>
  Good on you for selecting <%= @player %>. It's a tough one.
</h1>
<h2>
  Please pick what you're up against.
</h2>

<% if @player == "rock" %>

<p><a class="choice" href="/rock/rock">ROCK</a></p>
<p><a class="choice" href="/rock/paper">PAPER</a></p>
<p><a class="choice" href="/rock/scissors">SCISSORS</a></p>

<% elsif @player == "paper" %>

<p><a class="choice" href="/paper/rock">ROCK</a></p>
<p><a class="choice" href="/paper/paper">PAPER</a></p>
<p><a class="choice" href="/paper/scissors">SCISSORS</a></p>

<% elsif @player == "scissors" %>

<p><a class="choice" href="/scissors/rock">ROCK</a></p>
<p><a class="choice" href="/scissors/paper">PAPER</a></p>
<p><a class="choice" href="/scissors/scissors">SCISSORS</a></p>

<% end %>
