 <h1>
  Good on you for selecting <%= @player %>. It's a tough one.
</h1>
<h2>
  Please pick what you're up against.
</h2>

<% if @player == "rock" %>

<p><a href="/rock/rock">Rock</a></p>
<p><a href="/rock/paper">Paper</a></p>
<p><a href="/rock/scissors">Scissors</a></p>

<% elsif @player == "paper" %>

<p><a href="/paper/rock">Rock</a></p>
<p><a href="/paper/paper">Paper</a></p>
<p><a href="/paper/scissors">Scissors</a></p>

<% elsif @player == "scissors" %>

<p><a href="/scissors/rock">Rock</a></p>
<p><a href="/scissors/paper">Paper</a></p>
<p><a href="/scissors/scissors">Scissors</a></p>

<% end %>
